.chat-page {
    display: flex; 
    gap: 1rem; 
    padding: 1rem; 
    height: calc(100vh - 160px); 
}

.users-sidebar {
    width: 220px;
    background-color: pink;
    color: #57595e;
    padding: 1rem; 
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-right: 1px solid white;
}

.users-sidebar h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.users-sidebar ul {
    list-style: none;
    padding: 0;
}

.users-sidebar li {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.chat-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    height:100%; 
    min-width: 0; 
    color: white;
    padding: 1rem;
}

.chat-section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.message {
    position: relative;
    padding: 10px 16px;
    border-radius: 50px;   
    max-width: 65%;
    margin-bottom: 6px;
    width: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    white-space: normal; 
}

.message-other {
    background-color: pink;
    align-self: flex-start;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 6px;
}

.message-you {
    background-color: #89a6eb;
    align-self: flex-end;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 6px;
}

#messages {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    background-color: #46474b;
    padding: 1rem;
    gap:6px;
    border-radius: 8px;
    margin-bottom: 1rem; 
}

.message strong {
    display: block;
    font-size: 0.75rem;
    opacity: 0.8;
    margin-bottom: 2px;
}

.message-you + .message-you {
    margin-top: -4px;
}

.message-other + .message-other {
    margin-top: -4px;
}


form {
    display: flex;
    gap: 0.5rem;
}

form input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
}

form button {
    padding: 0.5rem 1rem;
    background-color: #89a6eb;
    border: none;
    border-radius: 8px;
    color: white;
}

form button:hover {
    background-color: #6f8fdc;
}

@media (max-width: 700px) {
    .users-sidebar {
        display: none;
    }

    .chat-page {
        flex-direction: column; 
        height: calc(100vh - 120px);
    }
}
