p { 
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    color: white; 
    margin-bottom: 1.5rem; 
}

.page-content {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 2rem; 
    text-align: center;
}

.picture-box img {
    display: block;  
    height: 250px;  
    width: 800px;    
    object-fit: cover; 
    object-position: 50% 28%; 
    margin: 0 auto 2rem auto;  
    border-radius: 10px;  
    border: 5px solid pink;
        
}

#quote {
    background-color: pink;  
    color: #515256;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 1000px;
    margin: 2rem auto;
    font-style: italic;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* optional shadow */
}

#quote div:last-child {
    margin-top: 0.5rem;
    font-style: normal; 
    font-weight: bold;
}

